<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CantidadMaximaDefecto" value="50"/>
		<add key="CantidadMinimaDefecto" value="5"/>
	</appSettings>
	
	<connectionStrings>
		<!-- Actualizado para MSSQLSERVER (no SQLEXPRESS) -->
		<add name="IvcDb" 
		     providerName="System.Data.SqlClient"
		  connectionString="Data Source=.;Initial Catalog=IvcDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>